@model IEnumerable<Vidly.TO.MovieTO>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Count() == 0)
{
    <text>We do not any movie</text>
}
else
{
    <table id="movies" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th colspan="3"></th>
        </tr>

        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Gender.Name)
                </td>
                <td>
                    <button data-movie-id="@movie.Id" class="btn btn-primary btn-sm btn-block js-details">Details</button>
                </td>
                <td>
                    <button data-movie-id="@movie.Id" class="btn btn-secondary btn-sm btn-block js-edit">Edit</button>
                </td>
                <td>
                    <button data-movie-id="@movie.Id" class="btn btn-danger btn-sm btn-block js-delete">Delete</button>
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-success btn-sm" })
    </p>
}
@section scripts
{
    <script>

        $(document).ready(function () {

            $("#movies .js-delete").click(function (e) {
                e.preventDefault();
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });

    </script>
}