@model Vidly.ViewModel.MovieViewModel

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color:whitesmoke; border-radius:6px">
    <h2>@Html.Raw(Model.Movie.Id == 0 ? "New Movie" : "Edit Movie")</h2>
    <hr />
    <div class="container" style="padding:15px 15px 15px 15px">
        @using (Html.BeginForm("SaveViewModel", "Movies"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Movie.Id)
                <div class="form-group">
                    @Html.LabelFor(m => m.Movie.Name)
                    @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Movie.ReleaseDate)
                    @Html.TextBoxFor(m => m.Movie.ReleaseDate, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Movie.Stock)
                    @Html.TextBoxFor(m => m.Movie.Stock, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Movie.Gender)
                    @Html.DropDownListFor(m => m.Movie.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Select Gender", new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
@Html.ActionLink("Back", "Index", "Movies", null, new { @class = "btn btn-warning btn-sm" })