@model Vidly.TO.CustomerTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <ul>
        <li>
            @Html.DisplayNameFor(model => model.MembershipType) : 
            @Html.DisplayFor(model => model.MembershipType.Name)
        </li>
        <li>
            @Html.DisplayNameFor(model => model.Birthdate) :
            @Html.DisplayFor(model => model.Birthdate)
        </li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
